<div class="container">
  <!-- page title -->
  <h1>meet the team</h1>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident nisi
    alias consequuntur a quisquam rem blanditiis inventore atque, quis,
    accusantium praesentium fuga, consectetur dicta eligendi totam! Ratione
    ipsam unde accusamus?
  </p>
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet placeat totam
    quis optio fuga, animi eius dignissimos facilis ea, autem, molestiae ut
    consequatur neque cumque? Vel aperiam porro inventore molestiae.
  </p>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt impedit eaque
    eum dolorum incidunt optio asperiores, modi reiciendis dicta dolorem
    assumenda quia ea distinctio veniam veritatis ipsa nihil numquam obcaecati.
  </p>

  <div class="leader-grid">
    <div
      class="leader-wrapper"
      #card
      *ngFor="let person of leaders"
      (click)="openModal(person)"
    >
      <div class="image-wrapper">
        <img [src]="person.image" [alt]="person.name" />
        <div class="overlay">
          <h3>{{ person.name }}</h3>
          <p>{{ person.title }}</p>
        </div>
      </div>
    </div>
  </div>

  <app-leader-modal
    *ngIf="selectedLeader"
    [leader]="selectedLeader"
    (closeModal)="closeModal()"
  >
  </app-leader-modal>
</div>
