<section class="capability-hero container-md raised" *ngIf="capability">
  <video autoplay muted loop playsinline class="bg-video">
    <source [src]="capability.video" type="video/mp4" />
    Your browser does not support the video tag.
  </video>

  <div class="hero-wrapper">
    <h1 class="hero-title">
      <div id="heroText">{{ capability.title }}</div>
    </h1>
  </div>
</section>

<section class="capability-details container-md">
  <div class="detail-wrapper">
    <div class="detail-left">
      <h1>What is {{ capability?.subtitle }}?</h1>
      <div class="detail-text">
        <p *ngFor="let line of capability?.description">{{ line }}</p>
      </div>
    </div>
    <div class="detail-right">
      <div class="detail-image">
        <img
          [src]="capability?.image"
          alt="Capability image"
          class="capability-image"
        />
      </div>
    </div>
  </div>
</section>

<section class="capability-cta container-md raised">
  <img
    [src]="capability?.image"
    alt="Capability background image"
    class="bg-image"
  />
  <div class="cta-wrapper">
    <div class="cta-title">
      <h1>Interested in {{ capability?.title }}?</h1>
    </div>
    <div class="cta-content">
      <p>Check out our open positions, or explore our other capabilities!</p>
    </div>
    <div class="cta-buttons">
      <div class="button-wrapper">
        <a
          href="https://www.paycomonline.net/v4/ats/web.php/jobs?clientkey=2B8E3ACF81F2C26344D4374EA39F6D8F&fromClientSide=true"
          target="_blank"
          class="cta-button"
          >Open Positions</a
        >
      </div>
      <div class="button-wrapper">
        <a class="cta-button" (click)="goBack()">Other Capabilities</a>
      </div>
    </div>
  </div>
</section>
