<nav class="top-nav">
  <div class="logo" [routerLink]="'/home'">Radix Metasystems</div>

  <button class="menu-toggle" (click)="toggleMenu()">☰</button>

  <ul [class.open]="menuOpen" class="nav-links">
    <li>
      <a [routerLink]="'/who-we-are'" (click)="closeMenu()">Who We Are</a>
    </li>
    <li>
      <a [routerLink]="'/what-we-do'" (click)="closeMenu()">What We Do</a>
    </li>
    <li>
      <a [routerLink]="'/radix-careers'" (click)="closeMenu()">Careers</a>
    </li>
  </ul>
</nav>
