.home-hero {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .bg-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1;
    z-index: 0;
    pointer-events: none;
    opacity: 0.4;
    filter: hue-rotate(130deg);
  }

  .hero-wrapper {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);

    h1 {
      color: var(--color-text);
      font-size: var(--font-xxl);
      font-family: var(--font-alt);
    }

    p {
      font-size: var(--font-xl);
    }
    .cta-button {
      display: inline-block;
      padding: var(--spacing-md) var(--spacing-lg);
      font-size: 1rem;
      font-weight: 600;
      color: white;
      background-color: var(--color-primary);
      border-radius: 100px;
      text-decoration: none;
      transition: all 250ms ease-in-out;
      box-shadow: rgba(247, 109, 29, 0.2) 0 -25px 18px -14px inset,
        rgba(247, 109, 29, 0.1) 0 1px 2px, rgba(247, 109, 29, 0.1) 0 2px 4px,
        rgba(247, 109, 29, 0.1) 0 4px 8px, rgba(247, 109, 29, 0.1) 0 8px 16px;

      &:hover {
        background-color: rgba(247, 109, 29, 0.2);
        color: var(--color-primary);
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
}

.homepage-who-we-are {
  position: relative;
  z-index: 2;
  text-align: center;
  color: var(--color-text);

  .who-we-are-wrapper {
    position: relative;
    display: flex;
    height: 50vh;
    padding: 0;

    img {
      position: absolute;
      z-index: -2;
      filter: opacity(0.5);
      width: 100%;
    }

    .who-we-are-content {
      padding: var(--spacing-xl);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;

      .section-title {
        color: var(--color-primary);
        border-left: 5px solid var(--color-primary);
        padding: 0 var(--spacing-md);
      }

      .section-summary {
        color: var(--color-text);
        max-width: 400px;
        text-align: start;
      }

      .btn-primary {
        width: fit-content;
        display: inline-block;
        padding: var(--spacing-md) var(--spacing-lg);
        font-size: 1rem;
        font-weight: 600;
        color: white;
        background-color: var(--color-primary);
        border-radius: 100px;
        text-decoration: none;
        transition: all 250ms ease-in-out;
        box-shadow: rgba(247, 109, 29, 0.2) 0 -25px 18px -14px inset,
          rgba(247, 109, 29, 0.1) 0 1px 2px, rgba(247, 109, 29, 0.1) 0 2px 4px,
          rgba(247, 109, 29, 0.1) 0 4px 8px, rgba(247, 109, 29, 0.1) 0 8px 16px;

        &:hover {
          background-color: rgba(247, 109, 29, 0.2);
          color: var(--color-primary);
          cursor: pointer;
          transform: scale(1.05);
        }
      }
    }
  }
}

.values {
  position: relative;
  z-index: 1;

  .values-wrapper {
    .values-row {
      display: flex;

      .values-column {
        // background-color: aqua;
        // width: 30%;
        // display: flex;
        // flex-direction: column;
        // gap: var(--spacing-sm);
        // padding: var(--spacing-md);
        // justify-content: space-around;
        display: flex;
        flex: 1;

        h2 {
          color: var(--color-text);
        }
      }

      .outline {
        flex: 1;
        display: flex;
        gap: var(--spacing-sm);
        flex-direction: column;
        position: relative;
        padding: var(--spacing-lg);
      }

      // Vertical line on the right
      .vert-bar::before {
        content: "";
        position: absolute;
        top: 10%;
        bottom: 10%;
        right: 0;
        width: 1px;
        background-color: var(--color-text);
      }

      // Horizontal line on the bottom
      .hor-bar::after {
        content: "";
        position: absolute;
        left: 5%;
        right: 5%;
        top: 0;
        height: 1px;
        background-color: var(--color-text);
      }
    }
  }
}

.homepage-what-we-do {
  position: relative;
  z-index: 2;
  text-align: center;
  color: var(--color-text);

  .what-we-do-wrapper {
    position: relative;
    display: flex;
    height: 50vh;
    padding: 0;

    img {
      position: absolute;
      z-index: -2;
      filter: opacity(0.5);
      width: 100%;
    }

    .what-we-do-content {
      padding: var(--spacing-xl);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;

      .section-title {
        color: var(--color-primary);
        border-left: 5px solid var(--color-primary);
        padding: 0 var(--spacing-md);
      }

      .section-summary {
        color: var(--color-text);
        max-width: 400px;
        text-align: start;
      }

      .btn-primary {
        width: fit-content;
        display: inline-block;
        padding: var(--spacing-md) var(--spacing-lg);
        font-size: 1rem;
        font-weight: 600;
        color: white;
        background-color: var(--color-primary);
        border-radius: 100px;
        text-decoration: none;
        transition: all 250ms ease-in-out;
        box-shadow: rgba(247, 109, 29, 0.2) 0 -25px 18px -14px inset,
          rgba(247, 109, 29, 0.1) 0 1px 2px, rgba(247, 109, 29, 0.1) 0 2px 4px,
          rgba(247, 109, 29, 0.1) 0 4px 8px, rgba(247, 109, 29, 0.1) 0 8px 16px;

        &:hover {
          background-color: rgba(247, 109, 29, 0.2);
          color: var(--color-primary);
          cursor: pointer;
          transform: scale(1.05);
        }
      }
    }
  }
}

.culture {
  position: relative;
  z-index: 1;

  .culture-wrapper {
    .culture-row {
      display: flex;

      .culture-column {
        display: flex;
        flex: 1;

        h2 {
          color: var(--color-text);
        }
      }

      .outline {
        flex: 1;
        display: flex;
        gap: var(--spacing-sm);
        flex-direction: column;
        position: relative;
        padding: var(--spacing-lg);
      }

      // Vertical line on the right
      .vert-bar::before {
        content: "";
        position: absolute;
        top: 10%;
        bottom: 10%;
        right: 0;
        width: 1px;
        background-color: var(--color-text);
      }

      // Horizontal line on the bottom
      .hor-bar::after {
        content: "";
        position: absolute;
        left: 5%;
        right: 5%;
        top: 0;
        height: 1px;
        background-color: var(--color-text);
      }
    }
  }
}

.homepage-careers {
  position: relative;
  z-index: 2;
  text-align: center;
  color: var(--color-text);

  .careers-wrapper {
    position: relative;
    display: flex;
    height: 50vh;
    padding: 0;

    img {
      position: absolute;
      z-index: -2;
      filter: opacity(0.5);
      width: 100%;
    }

    .careers-content {
      padding: var(--spacing-xl);
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: flex-start;

      .section-title {
        color: var(--color-primary);
        border-left: 5px solid var(--color-primary);
        padding: 0 var(--spacing-md);
      }

      .section-summary {
        color: var(--color-text);
        max-width: 400px;
        text-align: start;
      }

      .btn-primary {
        width: fit-content;
        display: inline-block;
        padding: var(--spacing-md) var(--spacing-lg);
        font-size: 1rem;
        font-weight: 600;
        color: white;
        background-color: var(--color-primary);
        border-radius: 100px;
        text-decoration: none;
        transition: all 250ms ease-in-out;
        box-shadow: rgba(247, 109, 29, 0.2) 0 -25px 18px -14px inset,
          rgba(247, 109, 29, 0.1) 0 1px 2px, rgba(247, 109, 29, 0.1) 0 2px 4px,
          rgba(247, 109, 29, 0.1) 0 4px 8px, rgba(247, 109, 29, 0.1) 0 8px 16px;

        &:hover {
          background-color: rgba(247, 109, 29, 0.2);
          color: var(--color-primary);
          cursor: pointer;
          transform: scale(1.05);
        }
      }
    }
  }
}

.title {
  text-align: center;
  color: var(--color-primary);
  font-family: var(--font-alt);
  font-size: var(--font-xl);
  font-weight: var(--font-weight-lg);
  padding: var(--spacing-xl) 0;
}

.overlay {
  z-index: -1;
  background: var(--color-bg-gradient-transparent-sideways);
  width: 100%;
  height: 100%;
  position: absolute;
}
