<div class="footer">
  <!-- top row -->
  <div class="footer-row">
    <div class="footer-column">
      <h4>Follow Us</h4>
      <p>linkedin</p>
      <p>extra links</p>
    </div>
    <div class="footer-column">
      <h4>Contact Us</h4>
      <p>email</p>
      <p>phone</p>
      <p>fax</p>
    </div>
    <div class="footer-column">
      <h4>Address</h4>
      <p>street</p>
      <p>city</p>
    </div>
  </div>
  <!-- bottom row -->
  <div class="footer-row">
    <div class="footer-column">
      <p class="copyright">©2022 by Radix Metasystems, Inc.</p>
    </div>
  </div>
</div>
