.footer {
  display: flex;
  font-weight: var(--font-weight-sm);
  flex-direction: column;
  align-items: center;
  width: 100%;
  z-index: 1;
}

.footer-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-lg) 0;
  gap: 100px;
}

.footer-column {
  width: 500px;
}

.right-align {
  text-align: end;
}

.footer-title {
  filter: brightness(0.5);
  font-family: var(--font-alt);
}

.copyright {
  font-size: var(--font-sm);
  font-weight: var(--font-weight-xs);
}

.scroll-to-top {
  cursor: pointer;
  transition: transform 0.3s ease, fill 0.3s ease;

  path {
    stroke: var(--color-text);
    stroke-width: 1.5;
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke 0.3s ease;
  }
  &:hover {
    transform: scale(1.15);

    path {
      stroke: var(--color-primary);
      stroke-width: 1.5;
      stroke-linecap: round;
      stroke-linejoin: round;
    }
  }
}

@media (max-width: 768px) {
  .footer-row {
    flex-direction: column;
  }

  .footer-column {
    padding: var(--spacing-md);
  }
}
