section {
  padding: var(--spacing-lg) 0;
}

.what-we-do-hero {
  // position: relative;
  // width: 100%;
  // height: 80vh;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // text-align: center;

  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.3;
    z-index: 0;
    pointer-events: none;
    opacity: 0.3;
    filter: hue-rotate(130deg);
  }

  .hero-wrapper {
    transform: translateY(-20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-lg);

    h1 {
      color: var(--color-text);
      font-size: var(--font-xxl);
    }

    p {
      font-size: var(--font-xl);
    }
  }
}

.what-we-do-capabilities {
  padding: 20rem 0 10rem 0;
  display: flex;

  .capabilities-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacing-xl);

    .capabilities-title {
      color: var(--color-primary);
      font-size: var(--font-xxl);
      // font-family: var(--font-alt);
      // font-weight: var(--font-weight-sm);
    }

    .capabilities-grid {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: var(--spacing-xl);
      color: var(--color-text);
    }
    .capability {
      padding: var(--spacing-md);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: var(--spacing-lg);

      .title {
        font-family: var(--font-alt);
        font-weight: var(--font-weight-md);
        font-size: var(--font-md);
      }

      .sphere {
        stroke: var(--color-bg-secondary);
        fill: var(--color-bg-secondary);
        width: var(--spacing-xxl);
        height: var(--spacing-xxl);
        border-radius: 50%;
        background: var(--color-text);
        transition: all 0.3s ease-in-out;
        padding: var(--spacing-md);
      }

      .sphere:hover {
        stroke: var(--color-primary);
        fill: var(--color-primary);
        cursor: pointer;
        scale: 1.1;
      }
    }
  }
}

.what-we-do-cta {
  padding: 0;
  margin: 10rem auto;
  width: 100%;
  height: 90vh;
  position: relative;
  display: flex;

  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    scale: 1.3;
    z-index: 0;
    pointer-events: none;
    opacity: 0.2;
  }

  .cta-wrapper {
    position: relative;
    z-index: 2;
    margin: auto;
    text-align: center;
    color: var(--color-text);

    .cta-title {
      text-align: center;
      font-size: var(--font-xxl);
      margin: var(--spacing-lg);
    }

    .cta-button {
      display: inline-block;
      padding: 0.6rem 1.5rem;
      font-size: 1rem;
      font-weight: 600;
      color: white;
      background-color: var(--color-primary);
      border-radius: 100px;
      text-decoration: none;
      transition: all 250ms ease-in-out;
      box-shadow: rgba(247, 109, 29, 0.2) 0 -25px 18px -14px inset,
        rgba(247, 109, 29, 0.1) 0 1px 2px, rgba(247, 109, 29, 0.1) 0 2px 4px,
        rgba(247, 109, 29, 0.1) 0 4px 8px, rgba(247, 109, 29, 0.1) 0 8px 16px;

      &:hover {
        background-color: rgba(247, 109, 29, 0.2);
        color: var(--color-primary);
        cursor: pointer;
        transform: scale(1.05);
      }
    }
  }
}
