<div class="full-page" id="full-page" #fullPage>
  <!-- <canvas id="bg-three" #bgThree></canvas> -->
  <section class="who-we-are-hero">
    <div class="hero-wrapper container-lg">
      <h1 class="hero-title">
        <div id="heroText">The Missing Piece to the Mission</div>
      </h1>
    </div>
  </section>

  <section class="who-we-are-mission">
    <div class="mission-wrapper container-sm">
      <div class="mission-statement">
        <h1><span id="mission">Our Mission</span></h1>
        <p id="mission-paragraph">
          Be the force multiplier equipping policymakers and warfighters with
          cutting-edge tools, technologies, and techniques—where intelligent
          engineering is our edge, innovation is our strength, and our team
          shapes the digital battlespace.
        </p>
      </div>
      <canvas
        class="support-graphic"
        id="mission-graphic"
        #missionGraphic
      ></canvas>
    </div>
  </section>

  <section class="who-we-are-leadership">
    <div class="leadership-wrapper container-md">
      <h1 class="leadership-title">Leadership</h1>
      <p class="desc">
        Dedicated professionals committed to excellence in defense.
      </p>
      <div class="leadership-grid">
        <div class="leader-card" *ngFor="let leader of leadership">
          <img [src]="leader.photo" [alt]="leader.name" />
          <div class="leader-name">{{ leader.name }}</div>
          <div class="leader-title">{{ leader.title }}</div>
          <div class="leader-bio">{{ leader.bio }}</div>
          <div class="leader-socials">
            <div class="social">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="24"
                height="24"
                viewBox="0 0 50 50"
                class="icon"
              >
                <path
                  d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z"
                ></path>
              </svg>
            </div>
            <div class="social">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                x="0px"
                y="0px"
                width="24"
                height="24"
                viewBox="0 0 50 50"
                class="icon"
              >
                <path
                  d="M 11 4 C 7.134 4 4 7.134 4 11 L 4 39 C 4 42.866 7.134 46 11 46 L 39 46 C 42.866 46 46 42.866 46 39 L 46 11 C 46 7.134 42.866 4 39 4 L 11 4 z M 13.085938 13 L 21.023438 13 L 26.660156 21.009766 L 33.5 13 L 36 13 L 27.789062 22.613281 L 37.914062 37 L 29.978516 37 L 23.4375 27.707031 L 15.5 37 L 13 37 L 22.308594 26.103516 L 13.085938 13 z M 16.914062 15 L 31.021484 35 L 34.085938 35 L 19.978516 15 L 16.914062 15 z"
                ></path>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="carousel leadership-carousel">
      <div
        class="carousel-slide"
        *ngFor="let item of leadership; let i = index"
        #leadershipSlide
        [attr.data-index]="i"
      >
        <img [src]="item.photo" alt="" />
        <div class="text-content">
          <h2>{{ item.name }}</h2>
          <p>{{ item.title }}</p>
        </div>
      </div>
    </div> -->
    </div>
  </section>

  <section class="who-we-are-vision">
    <div class="vision-wrapper container-sm">
      <div class="vision-statement">
        <h1><span id="vision">Our Vision</span></h1>
        <p id="vision-paragraph">
          To be the leader of next generation intelligence and defense
          solutions, delivering capabilities that outclass our adversaries
          across all domains.
        </p>
      </div>

      <canvas class="support-graphic" id="vision-graph" #visionGraphic></canvas>
    </div>
  </section>

  <section class="who-we-are-culture">
    <div class="culture-wrapper container-md">
      <h1 class="culture-title">Culture</h1>
      <div class="carousel culture-carousel">
        <div
          class="carousel-slide"
          *ngFor="let item of culture; let i = index"
          #cultureSlide
          [attr.data-index]="i"
        >
          <img src="../../../assets/dso.jpg" />
          <div class="text-content">
            <h2>{{ item.headline }}</h2>
            <p>{{ item.statement }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="who-we-are-core-values">
    <div class="core-values-wrapper container-md">
      <div class="core-values-statement">
        <h1><span id="core-values">Our Values</span></h1>
        <p id="core-values-paragraph">
          <li>
            <p>People</p>
            Our people are the foundation of our mission. We foster a
            world-class culture that empowers and prioritizes them.
          </li>
          <li>
            <p>Passion</p>
            We are inspired by the missions we serve and proactively seek
            innovative methodologies to address evolving challenges.
          </li>
          <li>
            <p>Integrity</p>
            We uphold the highest standards of performance, acting with
            unwavering honesty and accountability to earn and sustain the trust
            of our colleagues, partners, and customers.
          </li>
        </p>
      </div>

      <span class="support-graphic"></span>
    </div>
  </section>

  <section class="who-we-are-partners">
    <div class="partners-wrapper container-md">
      <div class="partners-statement">
        <h1><span id="partners">Trusted Partners</span></h1>

        <div class="partners-grid">
          <div class="partners-row">
            <div class="partner" *ngFor="let partner of partners | slice:0:3">
              <img [src]="partner.image" alt="partner logo" />
            </div>
          </div>
          <div class="partners-row">
            <div class="partner" *ngFor="let partner of partners | slice:3:7">
              <img [src]="partner.image" alt="partner logo" />
            </div>
          </div>
          <div class="partners-row">
            <div class="partner" *ngFor="let partner of partners | slice:7:10">
              <img [src]="partner.image" alt="partner logo" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<app-footer></app-footer>

<!-- Vision: To be the leader of next generation intelligence and defense solutions, delivering capabilities that outclass our adversaries across all domains.
Mission: Be the force multiplier equipping policymakers and warfighters with cutting-edge tools, technologies, and techniques—where intelligent engineering is our edge, innovation is our strength, and our team shapes the digital battlespace.

Core Values:
People: Our people are the foundation of our mission. We foster a world-class culture that empowers and prioritizes them.

Passion: We are inspired by the missions we serve and proactively seek innovative methodologies to address evolving challenges.

Integrity: We uphold the highest standards of performance, acting with unwavering honesty and accountability to earn and sustain the trust of our colleagues, partners, and customers
Culture:
We empower those who serve.
We take pride in being on the periphery supporting our national heroes; they will never know us, yet they will feel benefit of our work!
We innovate with purpose.
A company of empowered bold thinkers; we are driven by passion, creativity, and the audacity to constantly push the boundaries of technology.
Trust is our foundation.
Our commitment to reliability, quality, and integrity is unwavering; we are accountable to the highest standards and always deliver on our promises.
We are a team of families.
We actively foster an environment where both professional and personal life are valued and supported. We encourage a culture of flexibility and balance, being human takes precedence. -->
